<TZ>
    <server>
        <port>4567</port>
    </server>
    <db>
        <drop>false</drop>
        <memory>false</memory>
        <host>localhost</host>
        <port>5432</port>
        <dbname>tz</dbname>
        <user>maks</user>
        <pass>maks</pass>
        <minConnections>1</minConnections>
        <maxConnections>10</maxConnections>
        <idleTimeout>5000</idleTimeout>
    </db>
</TZ>